<h3 class="mt-2">Listado de Coleccionistas</h3>
<div class="alert alert-secondary" role="alert">
  <span *ngIf=" collectors.length > 0 " class="font-weight-bold" > Coleccionistas (Total encontrados: {{ collectors.length }}) </span>
  <span *ngIf=" collectors.length == 0 " class="font-weight-bold" > No se ha encontrado ningun coleccionista  </span>
</div>

<table id="collectorList" class="table table-striped" aria-label="Listado de coleccionistas" summary="Listado de coleccionistas">
  <thead>
    <tr>
      <th scope="col" width="60px">+/-</th>
      <th scope="col">Nombre</th>
    </tr>
  </thead>
  <tbody  >

    <ng-container *ngFor="let item of collectors">
      <tr>
        <td >
          <button data-toggle="tooltip" class="gridSelector font-weight-bold" title="Expand/Collapse" style="cursor: pointer;" (click)="displayCollector(item.id)"  >
            {{ CharToShow(item.id) }}
          </button>
        </td>
        <td>{{item.name}}</td>
      </tr>

      <tr *ngIf="(item.id==selectedCollectorID)" colspan="5">
        <td colspan="2">
          <div class="w-100 p-2 m-0" style="background-color: #fff;">
            <app-collector-detalle [collectorID]=(item.id)></app-collector-detalle>
          </div>
        </td>
      </tr>
    </ng-container>


  </tbody>
</table>
