
<ng-container *ngIf="commentForm!=null && collectors !=null &&  collectors.length>0">
  <h4 i18n>Nuevo Comentario</h4>
  <form [formGroup]="commentForm" (ngSubmit)="!commentForm.invalid && createComment()">

    <div class="form-group">
        <label for="name" i18n>
            Coleccionista
        </label>
        <select formControlName="collectorId" class="form-control" i18n-aria-label aria-label="Coleccionista" >
          <option value="" hidden i18n>Seleccione un coleccionista</option>
          <option *ngFor="let collector of collectors" [ngValue]="collector.id" (change)="changeCollector($event)">
            {{collector.name}}
          </option>
      </select>
      <div class="alert alert-danger alert-dismissible fade show"
          *ngIf="commentForm.get('collectorId').hasError('required') && commentForm.get('collectorId').touched">
          <ng-container i18n>Campo Requerido</ng-container>
      </div>
    </div>

    <div class="form-group">
      <label for="name" i18n>
          Calificación
      </label>
      <input type="number" min="0" max="5" class="form-control" name="rating" formControlName="rating" i18n-placeholder placeholder="Calificación">
      <div class="alert alert-danger alert-dismissible fade show"
          *ngIf="commentForm.get('rating').hasError('required') && commentForm.get('rating').touched">
          <ng-container i18n>Campo Requerido</ng-container>
      </div>
      <div class="alert alert-danger alert-dismissible fade show"
          *ngIf="( commentForm.get('rating').hasError('min') || commentForm.get('rating').hasError('max') ) && commentForm.get('rating').touched">
          <ng-container i18n>Solo valores enteros entre 0 y 5</ng-container>
      </div>
      <div class="alert alert-danger alert-dismissible fade show"
          *ngIf="commentForm.get('rating').hasError('pattern') && commentForm.get('rating').touched">
          <ng-container i18n>Solo valores enteros entre 0 y 5</ng-container>
      </div>
    </div>

    <div class="form-group">
      <label for="name" i18n>
          Descripción
      </label>
      <textarea id="description" maxLength="240" class="form-control" name="description" formControlName="description" i18n-placeholder placeholder="Descripción" ></textarea>

      <div class="alert alert-danger alert-dismissible fade show"
          *ngIf="commentForm.get('description').hasError('required') && commentForm.get('description').touched">
          <ng-container i18n>Campo Requerido</ng-container>
      </div>
      <div class="alert alert-danger alert-dismissible fade show"
          *ngIf="commentForm.get('description').hasError('maxlength') && commentForm.get('description').touched">
          <ng-container i18n>Maximo 240 caracteres</ng-container>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary " [disabled]="!commentForm.valid" i18n>Crear</button>
      <button type="button" class="btn btn-danger ml-3 " (click)="cancelCreation()" i18n>Cancelar</button>
    </div>

  </form>
</ng-container>
