<div id="albumDetails" *ngIf="this.album !== null">

  <div class="row">
    <div class="col-sm-12 col-md-6 text-center">
      <img alt="Album's Cover" src="{{ this.album.cover}}" style="max-width: 30%;" />
    </div>

    <div class="col-sm-12 col-md-6 ">
      <div class="col-sm-12">
        <span><p class="font-weight-bold d-inline" i18n>Album:</p> {{this.album.name}}</span>
      </div>
      <div class="col-sm-12">
        <span><p class="font-weight-bold d-inline" i18n>Artista:</p> {{ getPerformerName(this.album) }}</span>
      </div>
      <div class="col-sm-12">
        <span><p class="font-weight-bold d-inline" i18n>Fecha Lanzamiento:</p> {{ this.album.releaseDate }}</span>
      </div>
      <div class="col-sm-12">
        <span><p class="font-weight-bold d-inline" i18n>Genero:</p> {{ this.album.genre }}</span>
      </div>
      <div class="col-sm-12">
        <span><p class="font-weight-bold d-inline" i18n>Casa Discografica:</p> {{ this.album.recordLabel }}</span>
      </div>
    </div>
  </div>


  <br>
    <div class="col-sm-12" *ngIf="!isOnCommentEditMode">
      <button class="btn btn-primary m-10" (click)="addComment()">
        <span class="fa fa-plus-circle" aria-hidden="true" ></span>
        <p class="ml-10 d-inline" i18n> Agregar Comentario</p>
      </button>
      <ul class="list-group">
          <li class="list-group-item" *ngFor="let item of this.album.comments" ><p class="font-weight-bold d-inline" i18n>Calificación: </p><p class="d-inline">{{ item.rating }}</p><hr> {{ item.description }}</li>
        </ul>
    </div>
    <div class="col-sm-12 col-sm-12 border border-primary p-10" *ngIf="isOnCommentEditMode">
      <app-album-comentarios (SaveCancel)="onCommentStatusChanged($event)" [albumID]=(albumID)></app-album-comentarios>
    </div>


    <br>

  <div class="col-sm-12 text-center" *ngIf="!isOnTrackEditMode">


      <div class="col-sm-6" style="margin: 0 auto">
        <button class="btn btn-primary m-10 f-left" (click)="addTrack()">
          <span class="fa fa-plus-circle" aria-hidden="true" ></span>
          <p class="ml-10 d-inline" i18n> Agregar Track</p>
        </button>

        <table class="table details-table-striped" i18n-aria-label aria-label="Detalle de un album" >
          <caption  i18n>Detalle de un album</caption>
          <thead class="details">
            <tr>
              <th scope="col"  i18n>Nombre</th>
              <th scope="col" i18n>Duración</th>
            </tr>
          </thead>
          <tbody  class="details" >
            <tr *ngFor="let item of this.album.tracks">
              <td>{{item.name}}</td>
              <td>{{item.duration}}</td>
            </tr>
          </tbody>
        </table>

      </div>

    </div>

    <div class="col-sm-12 col-sm-12 border border-primary p-10" *ngIf="isOnTrackEditMode">
      <app-album-tracks (SaveCancel)="onTrackStatusChanged($event)" [albumID]=(albumID)></app-album-tracks>
    </div>

</div>
