<div id="collectorDetails" *ngIf="this.collector !== null">

  <div class="col-sm-12 col-md-12 ">
    <div class="col-sm-12">
      <span><p class="font-weight-bold d-inline" i18n>Nombre:</p> {{this.collector.name}}</span>
    </div>
    <div class="col-sm-12 text-center" >
      <p class="font-weight-bold " i18n>Artistas Favoritos: </p>
    </div>
  </div>

  <div class="col-sm-12 text-center">

    <div class="col-sm-6" style="margin: 0 auto">
      <table id="tblCollectorDetail" class="table details-table-striped" i18n-aria-label aria-label="Detalles de un coleccionista" >
        <caption i18n>Detalles de un coleccionista</caption>
        <thead class="details">
          <tr>
            <th scope="col" i18n>Nombre</th>
          </tr>
        </thead>
        <tbody  class="details" >
          <tr *ngFor="let item of this.collector.favoritePerformers">
            <td>{{item.name}}</td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>


</div>
