<div id="collectorDetails" *ngIf="this.collector !== null">

  <div class="col-sm-12 col-md-12 ">
    <div class="col-sm-12">
      <span><p class="font-weight-bold d-inline" i18n>Nombre:</p> {{this.collector.name}}</span>
    </div>
  </div>

  <div class="col-sm-12 text-center" *ngIf="!isOnfavoritePerformersEditMode"><!-- condicional-->

    <div class="col-sm-6" style="margin: 0 auto">

      <button class="btn btn-primary m-10 f-left" (click)="addFavoritePerformers()" >
        <span class="fa fa-plus-circle" aria-hidden="true" ></span>
        <p class="ml-10 d-inline" i18n> Agregar Artista Favorito</p>
      </button>


      <table id="tblCollectorDetail" class="table details-table-striped" i18n-aria-label aria-label="Nombre Artista" >
        <caption i18n>Nombre Artista</caption>
        <thead class="details">
          <tr>
            <th scope="col" i18n>Nombre</th>
          </tr>
        </thead>
        <tbody  class="details" >
          <tr *ngFor="let item of this.collector.favoritePerformers">
            <td>{{item.name}}</td>
          </tr>
        </tbody>
      </table>

    </div>

  </div><!--fin condicional-->

  <div class="col-sm-12 col-sm-12 border border-primary p-10" *ngIf="isOnfavoritePerformersEditMode">
    <app-collector-favoriteperformers (SaveCancel)="onFavoritePerformersStatusChanged($event)"  [collectorID]=(collectorID)></app-collector-favoriteperformers>
  </div>

  <br>

  <div class="col-sm-12 text-center" *ngIf="!isOncollectorAlbumsEditMode"><!-- condicional-->

    <div class="col-sm-6" style="margin: 0 auto">

      <button class="btn btn-primary m-10 f-left" (click)="addCollectorAlbums()" >
        <span class="fa fa-plus-circle" aria-hidden="true" ></span>
        <p class="ml-10 d-inline" i18n> Agregar Album a vender</p>
      </button>


      <table id="tblCollectorDetail" class="table details-table-striped" i18n-aria-label aria-label="Nombre Album" >
        <caption i18n>Nombre Album</caption>
        <thead class="details">
          <tr>
            <th scope="col" i18n>Nombre</th>
            <th scope="col" i18n>Precio</th>
            <th scope="col" i18n></th>
          </tr>
        </thead>
        <tbody  class="details" >
          <tr *ngFor="let item of this.albumsFromCollector">

            <td>{{item.album.name}}</td>
            <td>{{item.price}}</td>
            <td style="width:50%;">
              <div><img alt="Album's Cover" src="{{item.album.cover}}" style="max-width: 30%;" /></div>
            </td>
          </tr>

        </tbody>
      </table>
    </div>

  </div><!--fin condicional-->

  <div class="col-sm-12 col-sm-12 border border-primary p-10" *ngIf="isOncollectorAlbumsEditMode">

    <app-collector-album (SaveCancel)="onCollectorAlbumsStatusChanged($event)"  [collectorID]=(collectorID)></app-collector-album>
    <!--
    <app-collector-album>t</app-collector-album>
    -->
  </div>


</div>
