<span i18n=":generalPurpose|generalPurpose@@CometarioCreadoConExito">Comentario creado exitosamente</span>

<span i18n=":generalPurpose|generalPurpose@@Exito">Exito</span>

<span i18n=":generalPurpose|generalPurpose@@ErrorGuardandoComentario">Error guardando el comentario </span>

<span i18n=":generalPurpose|generalPurpose@@Error">Error</span>

<span i18n=":generalPurpose|generalPurpose@@TrackAñadidoConExito">Track añadido exitosamente</span>

<span i18n=":generalPurpose|generalPurpose@@ErrorAñadiendoElTrack">Error añadiendo el track </span>

<span i18n=":generalPurpose|generalPurpose@@ArtistaFavoritoCreadoConExito">Artista favorito agregado exitosamente</span>

<span i18n=":generalPurpose|generalPurpose@@AlbumCollectorCreadoConExito">Album a vender agregado exitosamente</span>

<span i18n=":generalPurpose|generalPurpose@@PremioCreadoConExito">Premio creado exitosamente</span>

<span i18n=":generalPurpose|generalPurpose@@PremioAsignadoConExito">Premio asignado exitosamente</span>

<span i18n=":generalPurpose|generalPurpose@@ErrorGuardandoArtistaFavorito">Error guardando el artista favorito </span>

<span i18n=":generalPurpose|generalPurpose@@ErrorGuardandoAlbumAVender">Error guardando album a vender </span>

<span i18n=":generalPurpose|generalPurpose@@ErrorCreandoPremio">Error creando premio </span>

<span i18n=":generalPurpose|generalPurpose@@ErrorAsignandoPremio">Error asignando premio </span>
