<span i18n=":generalPurpose|generalPurpose@@CometarioCreadoConExito">Comentario creado exitosamente</span>

<span i18n=":generalPurpose|generalPurpose@@Exito">Exito</span>

<span i18n=":generalPurpose|generalPurpose@@ErrorGuardandoComentario">Error guardando el comentario </span>

<span i18n=":generalPurpose|generalPurpose@@Error">Error</span>

<span i18n=":generalPurpose|generalPurpose@@TrackAñadidoConExito">Track añadido exitosamente</span>

<span i18n=":generalPurpose|generalPurpose@@ErrorAñadiendoElTrack">Error añadiendo el track </span>
