<h3 class="mt-2" i18n>Listado de Albumes</h3>
<div class="alert alert-secondary" role="alert">
  <span *ngIf=" albums.length > 0 " class="font-weight-bold" >  <ng-container i18n> Álbumes (Total encontrados:</ng-container> {{ albums.length }}) </span>
  <span *ngIf=" albums.length == 0 " class="font-weight-bold" > <ng-container i18n>No se ha encontrado ningun álbum </ng-container>  </span>
</div>
<table id="albumList" class="table table-striped" i18n-aria-label aria-label="Listado de álbumes">
  <caption i18n>Listado de álbumes</caption>
  <thead>
    <tr>
      <th scope="col"  class="tableExpandColumn" >+/-</th>
      <th scope="col" i18n>Nombre</th>
      <th scope="col" i18n>Genero</th>
      <th scope="col" i18n>Discografica</th>
      <th scope="col" i18n>Artista</th>
    </tr>
  </thead>
  <tbody >
    <ng-container *ngFor="let item of albums">
      <tr>
        <td >
             <button data-toggle="tooltip" class="gridSelector font-weight-bold" i18n-title title="Expand/Collapse" style="cursor: pointer;" (click)="displayAlbum(item.id)"  >
                {{ CharToShow(item.id) }}
              </button  >
        </td>
        <td>{{item.name}}</td>
        <td>{{item.genre}}</td>
        <td>{{item.recordLabel}}</td>
        <td> {{ this.getPerformerName(item) }} </td>
      </tr>

        <tr *ngIf="(item.id==selectedAlbumID)" colspan="5">
          <td colspan="5">
            <div class="w-100 p-2 m-0" style="background-color: #fff;">
                  <app-album-detalle [albumID]=(item.id)></app-album-detalle>
            </div>
          </td>
        </tr>

    </ng-container>
  </tbody>
</table>

