<div class="alert alert-secondary" role="alert">
  <span *ngIf=" albums.length > 0 " class="font-weight-bold" > Álbumes (Total encontrados: {{ albums.length }}) </span>
  <span *ngIf=" albums.length == 0 " class="font-weight-bold" > No se ha encontrado ningun álbum  </span>
</div>
<table id="albumList" class="table table-striped" aria-describedby="album detail view">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Nombre</th>
      <th scope="col">Genero</th>
      <th scope="col">Discografica</th>
      <th scope="col">Artista</th>
    </tr>
  </thead>
  <tbody >
    <ng-container *ngFor="let item of albums">
      <tr>
        <td >
             <p data-toggle="tooltip" class="gridSelector font-weight-bold" title="Expand/Collapse" style="cursor: pointer;" (click)="displayAlbum(item.id)"  >
                {{ CharToShow(item.id) }}
              </p>
        </td>
        <td>{{item.name}}</td>
        <td>{{item.genre}}</td>
        <td>{{item.recordLabel}}</td>
        <td> {{ this.getPerformerName(item) }} </td>
      </tr>

        <tr *ngIf="(item.id==selectedAlbumID)" colspan="5">
          <td colspan="5">
            <div class="w-100 p-2 m-0" style="background-color: #fff;">
                  <app-album-detalle [albumID]=(item.id)></app-album-detalle>
            </div>
          </td>
        </tr>

    </ng-container>
  </tbody>
</table>

