<table id="albumList" class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Genero</th>
      <th scope="col">Discografica</th>
      <th scope="col">Artista</th>
    </tr>
  </thead>
  <tbody  >
    <tr *ngFor="let item of albums">
      <th scope="row"><p class="font-weight-bold" title="Expand" style="cursor: pointer;"  >+</p></th>
      <td>{{item.name}}</td>
      <td>{{item.genre}}</td>
      <td>{{item.recordLabel}}</td>
      <td> {{ this.getPerformerName(item) }} </td>
    </tr>
  </tbody>
</table>
