<div id="musicianDetails" *ngIf="musician !== null">

  <div class="row">
    <div class="col-sm-12 col-md-6 text-center">
      <img *ngIf="musician.image.length > 10" alt="Imagen del músico" src="{{ musician.image }}" style="max-width: 30%;" />
      <img *ngIf="musician.image.length <= 10" alt="Imagen del músico no disponible"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Imagen_no_disponible.svg/300px-Imagen_no_disponible.svg.png" style="max-width: 30%;" />
    </div>

    <div class="col-sm-12 col-md-6 ">
      <div class="col-sm-12">
        <span><p class="font-weight-bold d-inline">Artista:</p> {{ musician.name }}</span>
      </div>
      <div class="col-sm-12">
        <span><p class="font-weight-bold d-inline">Fecha de Nacimiento:</p> {{ musician.birthDate }}</span>
      </div>
    </div>
  </div>


  <br>
    <div class="container col-sm-8">
        <p class="font-weight-bold d-inline">Descripción: </p><p class="d-inline">{{ musician.description }}</p>
    </div>
  <br>

  <div class="col-sm-12 text-center">
    <app-prize-assign [performerId]=(musician.id) [kind]=(kind)></app-prize-assign>
      <div *ngIf="prizes.length > 0" class="col-sm-6" style="margin: 0 auto">
        <div class="container col-sm-8">
          <p class="font-weight-bold ">Premios recibidos: </p>
      </div>
        <table class="table details-table-striped" aria-label="Detalle de premios recibidos" >
          <caption>Detalle de premios recibidos</caption>
          <thead class="details">
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Organización</th>
            </tr>
          </thead>
          <tbody  class="details" >
            <tr *ngFor="let item of prizes">
              <td>{{item.name}}</td>
              <td>{{item.organization}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
